
/Java/JavaEE/CDI_JPA_REST/hello-todo/target/
Java/IvorHorton/.metadata/
Java/IvorHorton/NestedClasses/.classpath
Java/IvorHorton/NestedClasses/.project
Java/IvorHorton/NestedClasses/.settings/org.eclipse.jdt.core.prefs
Java/IvorHorton/NestedClasses/bin

