.background {
  background: url("../images/plans-background.jpg") center/cover;
  filter: grayscale(40%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.package {
    width: 70%;
    height: 19rem;
    padding: 1.8rem;
    margin: 3rem 0;
    border: 2px solid #0e4f1f;
    border-left: none;
    position: relative;
    overflow: hidden;
}

.package:hover,
.package:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-color: #ff5454 !important;
}

.package a {
    text-decoration: none;
    font: inherit;
    display: block;
}

.clearfix {
    clear: both;
}

#plus {
    background: rgba(213, 255, 220, 0.95);
}

#free {
    background: rgba(234, 252, 237, 0.95);
    float: right;
    border-right: none;
    border-left: 2px solid #0e4f1f;
}

main {
    padding-top: 2rem;
}

#premium {
   background: rgba(14, 79, 31, 0.95);
}

.package__title {
    color: black;
}

#premium .package__title {
    color: white;
}

#premium .package__subtitle {
    color: #bbb;
}

.package__subtitle {
    color: #8a8585;
    font-weight: bold;
}

.package__info {
    background: white;
    padding: 1rem;
    border: 1px solid #0e4f1f;
    color: #0e4f1f;
    font-size: 1.2rem;
}

.package__badge {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.8rem;
    color: white;
    background: #ff5454;
    padding: 0.6rem;
    margin: 0;
    transform: rotateZ(45deg)  translateX(3rem) translateY(-0.6rem);
    transform-origin: center;
    width: 12rem;
    text-align: center;
}

@media (min-width: 44rem){
  main{
      max-width: 1000px;;
  }
}

@media (min-width: 1000px){
    .package {
        border-left: 2px solid #0e4f1f;
    }

    #free {
        border-right: 2px solid #0e4f1f;
    }
  }